<html>
<header>
  <title><%= pageTitle %></title>
  <link rel="stylesheet" type="text/css" href="style.css">
</header>
<body>
  <h1><%= pageHeading %></h1>
  <% for(var i = 0; i <10; i++) { %>
    cats!&nbsp;
  <% } %>
</body>
</html>
