<article>
  <h2><%= post.title %></h2>
  <p><%= truncate_post_body(post) %></p>
  <%= link_to('Edit', edit_post_url(post), data: { confirm: "Are you sure?" }) %>
  <!-- <a href="<%= edit_post_url(post) %>">Edit</a> -->
<article>
