<% include ../partials/header.ejs %>
<h1>Todo</h1>

<div class="well">
  <a href="/todos/new" class="btn btn-default">New Todo</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Done?</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
<% todos.forEach( (todo) => { %>
  <tr>
    <td><%= todo._id %></td>
    <td><%= todo.title %></td>
    <td><% if (todo.done) { %>
      <span class="glyphicon glyphicon-ok"></span>
      <% } else { %>
        <span class="glyphicon glyphicon-remove"></span>
      <% } %>
    </td>
    <td>
      <% if (todo.done) { %>
        <a href="#" class="btn btn-default">Undone</a>
      <% } else { %>
          <a href="#" class="btn btn-default">Done</a>
      <% } %>
      <form method="post" action="/todos/<%= todo._id %>?_method=DELETE">
        <button class="btn btn-warning">Delete</button>
      </form>
    </td>
  </tr>
<% }) %>
</table><!-- end .container -->


<% include ../partials/footer.ejs %>
