<% include ../partials/header.ejs %>

<form method="post" action="/todos">
  <div class="form-group">
    <label for="title">Title</label>
<<<<<<< HEAD
    <input type="title" name="title" class="form-control" id="title" placeholder="Todo item">
=======
    <input type="title" class="form-control" id="title" placeholder="Todo item">
>>>>>>> master
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ../partials/footer.ejs %>
